<ul>
  <% @restaurants.each do |restaurant| %>
    <%= link_to(restaurant_path(restaurant)) do %>
      <li>
        <%= restaurant.name %> - 
        <%= restaurant.category %>
      </li>
    <% end %>
<% end %>
</ul>